<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Model</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script type="module" src="../scripts/script.js"></script>
  </head>
  <body>
    <header></header>
    <main>
      <!-- Form for adding models -->
      <div class="container">
        <form id="model-form">
          <div class="mb-3">
            <label for="name" class="form-label">Make and Model Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              aria-describedby="makeModelName"
              placeholder="BMW X5"
            />
            <div id="makeModelName" class="form-text">
              You can enter any make and model, but it is your responsibility to
              make sure they match a real car.
            </div>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price per Hour</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              id="price"
              placeholder="4.95"
              min="2"
              max="50"
            />
          </div>
          <button type="submit" class="btn btn-primary">
            Upload new model
          </button>
        </form>
      </div>
      <!-- END -->
    </main>
    <footer></footer>
  </body>
</html>
