<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Vehicles</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script type="module" src="../scripts/script.js"></script>
  </head>
  <body>
    <header></header>
    <main>
      <div class="container">
        <p id="response-or-error" class=""></p>
      </div>
      <div class="container">
        <!-- Buttons -->
        <button type="button" class="btn btn-secondary">Show All</button>
        <button type="button" class="btn btn-warning">LT</button>
        <button type="button" class="btn btn-success">LV</button>
        <button type="button" class="btn btn-danger">EE</button>
      </div>
      <div class="container">
        <!-- Table ONE -->
        <table id="table-vehicle" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Model name</th>
              <th scope="col">Price/hour (with PVM)</th>
              <th scope="col">Number plate</th>
              <th scope="col">Country</th>
            </tr>
          </thead>
        </table>
        <!-- Table ONE END -->
      </div>
    </main>
    <footer></footer>
  </body>
</html>
